@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap");
html,
body {
  padding: 0%;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  background-color: #eeeeee;

  margin: 0%;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #06283d;
}
::-webkit-scrollbar-thumb {
  background-color: #dff6ff;
  border-radius: 20px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-container::after {
  background-color: #222831;
  filter: drop-shadow(0px 10px 10px rgb(57, 62, 70, 0.2));
  content: "";
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  background-color: #eeeeee;
  color: #393e46;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  margin: 5px;
  filter: drop-shadow(0px 10px 10px rgb(57, 62, 70, 0.2));
  border-radius: 20px;
  width: 500px;
  max-width: 70%;
  text-align: right;
  line-height: 1.3;

  transition-duration: 300ms;
  transition-property: transform, filter;
  transition-timing-function: ease-out;
  z-index: 1000;
}

.timeline-item-content::after {
  content: " ";
  background-color: #eeeeee;
  z-index: -5;

  position: absolute;
  right: -2.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

.timeline-item-content:hover {
  transition-duration: 300ms;

  filter: drop-shadow(0px 8px 10px #222831);
  transform: scale(1.07);
}
.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;

  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -2.5px;
}

/* 

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
} */

.timeline-item-content .circle {
  background-color: #393e46;

  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  right: -60px;
  width: 40px;
  height: 40px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -60px;
}

.titleDiv {
  position: absolute;

  cursor: default;
  top: 27%;
}

.titleDiv-h1 {
  /* background-color: red; */
  font-family: "Montserrat";
  font-weight: bolder;
}
.profileimg,
.scrollindicator,
.hiddenicons {
  display: none;
}

.scrollindicator{
  display: none;
  visibility: hidden;
}

 


@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }

  .profileimg {
    display: block;
    position: absolute;
    top: 5%;
  }
  .titleDiv {
    position: absolute;
    cursor: default;
    top: 35%;
  }
  .titleDiv-h1 {
    font-size: 2.5rem !important;
  }
  .scrollindicator {
    display: block;
    position: absolute;
    bottom: 10%;
    color: #222831;
    visibility: visible;
  }

  .aboutitle {
    font-size: 2.5rem !important;
  }
  .aboutcontent {
    font-size: 0.8rem !important;
    line-height: 2 !important;
    word-spacing: 3px;
  }
  .gitabout {
    font-size: 1.2rem !important;
    top: 5px !important;
  }
  .carosel {
    justify-content: center;
    padding: 10px;
    margin-top: 2px !important;
  }

  .hiddenicons {
    display: flex;
  }
  .formrow {
    flex-direction: column !important;
  }
  .form {
    justify-content: center;
  }
.contactcard{
  width:90% !important
}
.gradient{
display: none !important;
visibility: hidden !important;
}
}
