.home {
  width: 100%;
}
.introduction {
  box-sizing: border-box;
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  color: #dff6ff;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background-image: linear-gradient(black 30%, #4d77ff, #eeeeee);
}

.introduction h1 {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  font-size: 5.3rem;
  color: #eeeeee;
  font-weight: 900;

  text-shadow: 1px 0 #eeeeee;
  letter-spacing: 1px;
}

.secondsection {
  min-height: 100vh;
  box-sizing: border-box;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  filter: drop-shadow(0px 10px 4px rgb(57, 62, 70, 0.3));

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5% 15%;
  width: 100%;
  background-color: #eeeeee;
}

.gitlink {
  text-decoration: none;
  color: #393e46;
}

.gitlink:hover {
  color: #ffd369;
  text-decoration: none;
  cursor: pointer;
}

.container {
  background: transparent;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: saturate(180%) blur(10px);
}

.card {
  display: flex;
  flex: 2;
  border-radius: 20px;

  height: 400px;
  background-size: cover;
  background-position: center;
  transform: perspective(1000px);
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, filter;
  transition-timing-function: ease-out;
  transform: rotate3d(0, 0, 0);
  filter: drop-shadow(0px 10px 25px rgb(255, 211, 105));
}

.card:hover {
  transition-duration: 300ms;
  filter: drop-shadow(0px 10px 25px #222831);
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.projectsection {
  min-height: 100vh;

  flex: 1;
  background-image: linear-gradient(#eeeeee, rgb(255, 211, 105, 0.5));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  word-break: break-word;

  margin: 0px 25px;
}

.projectitle {
  color: #393e46;
  margin: 0;
  font-weight: 900;
  font-size: 3rem;
}

.projectdetails {
  padding: 15px;
  margin: 0px;
}

.tag {
  font-weight: bold;
  font-family: Montserrat;
  display: inline-block;
  margin: 2px;

  padding: 0px 4px;
  border-radius: 10px;
}

.datepill {
  margin: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  border-radius: 20px;
  padding: 6px 10px;
  width: fit-content;
  background-color: #393e46;
  color: #eeeeee;
}
.detailblock {
  display: flex;
  flex-direction: row;

  flex: 9;
  /* position: absolute; */
  /* padding: 1.5% 15%; */

  align-items: center;
}
.gitbutton:visited,
.gitbutton:link {
  color: white;
  text-decoration: none;
}
.arrowbutton:visited,
.arrowbutton:link {
  color: white;
  text-decoration: none;
}
.gitlink:visited,
.gitlink:link {
  text-decoration: none;
}
.gitbutton {
  font-size: 1.7rem;
  margin: 0px 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.gitbutton:hover {
  color: #ffd369;

  filter: drop-shadow(0px 8px 7px #ffd369);
}


.arrowbutton {
  font-size: 1.7rem;
  margin: 0px 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.arrowbutton:hover {
  color: #ffd369;

  filter: drop-shadow(0px 8px 7px #ffd369);
}

.worksection {
  background-image: linear-gradient(
    rgb(255, 211, 105, 0.5) 20%,
    rgb(255, 211, 105)
  );
  width: 100%;
  min-height: 100vh;

  padding: 1.5% 0px;
}

.contactsection {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgb(255, 211, 105) 0%, #222831 97%);
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinput {
  background-color: #ffd369;
  font-family: "Montserrat";

  color: #393e46;
  margin: 10px;
  outline: none;
  border: none;

  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
}
.contactinput:focus {
  outline: none;
  filter: drop-shadow(0px 5px 7px #ffd369);
}
.contactbutton {
  background-color: #393e46;
  color: #eeeeee;
  text-align: center;
  font-family: "Montserrat";

  width: 100%;
  margin: 10px;

  padding: 15px;

  border-radius: 10px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .secondsection {
    padding: 10px;
    height: auto !important;
    min-height: auto !important;
  }
  .card {
    height: 200px !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
    filter: drop-shadow(0px 5px 6px rgb(255, 211, 105));
  }

  .detailblock {
    flex-direction: column !important;
    align-self: stretch;
    display: block;
    /* min-height: 100vh;   */
  
  }

  .projectcontainer {
    margin: 10px 1px !important;
  }

  .projectcontainer h1 {
    font-size: medium !important;
  }

  .projectcontainer ul {
    font-size: 0.8rem !important;
  }

  .tag {
    font-size: 0.8rem !important;
  }
  .datepill {
    font-size: 0.8rem !important;
    padding: 3px 6px;
  }

  .arrowbutton{
    display: none;
  }
}
