.home {
  width: 100%;
}
.introduction {
  box-sizing: border-box;
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  color: #dff6ff;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background-image: linear-gradient(black 30%, #4d77ff,  #EEEEEE);
}

.introduction h1 {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  font-size: 5.3rem;
  color: #eeeeee;
  font-weight: 900;

  text-shadow: 1px 0 #eeeeee;
  letter-spacing: 1px;
}

.secondsection {
  height: 100vh;
  width: 100%;
background-color:  #EEEEEE

}
